/* style.css */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    margin: 30px;
}

#display {
    display: flex;
    border: 5px solid black;
    width: 410px;
    height: 70px;
    justify-content: flex-end;
    align-items: center;
    font-size: 50px;
    font-weight: 900;
    background-color: #e6e6e6;
}

#keys {
    position: relative;
    background-color: black;
    border: 4px solid black;
}

button {
    width: 100px;
    height: 80px;
    border-width: 1px;
    background-color: #b39898;
    font-size: 30px;
    font-weight: 900;
}

.clear {
    width: 204px;
    background-color: #03bafc;
}

.delete {
    background-color: #03bafc;
}

.operator {
    background-color: 	#ffb3b3;
}

.equal {
    width: 204px;
}